<article class="card product-item">
  <header class="card__header">
    <h1 class="product__title">
      <%= product.title %>
    </h1>
  </header>
  <div class="card__image">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  </div>
  <div class="card__content">
    <h2 class="product__price">$ <%= product.price %></h2>
    <p class="product__description">
      <%= product.description %>
    </p>
  </div>
  <% if (admin) { %>
  <div class="card__actions">
    <a href="/admin/edit-product" class="btn">Edit</a>
    <form action="/admin/delete-product" method="POST">
      <button class="btn" type="submit">Delete</button>
    </form>
  </div>
  <% } else { %>
  <div class="card__actions">
    <a href="/products/<%= product.id %>" class="btn">Details</a>
    <%- include('./addToCart', { product: product }) %>
  </div>
  <% } %>
</article>
